
<div id="tom-dale"></div>


<div>Is Not Fast Boot? {{this.isNotFastBoot}}</div>

<GithubWithInElement>
  <GithubProfile
    @user={{@model}}
  />
</GithubWithInElement>

<Wrapper
 @renderOut={{this.isNotFastBoot}}
>
  <GithubProfile
    @user={{@model}}
  />
</Wrapper>